@model List<ListUsersByRoleViewModel>

@{
    var id_table = ViewData["RoleName"];
}



<div class="table-responsive">
    <table id="dataTable" class="table table-striped user">

        <thead>
            <tr>
                <th><i class="fa fa-users"></i></th>
                <th>Username</th>
                <th>Role</th>
                <th>Status</th>
                <th>Actions</th>

            </tr>
        </thead>

        <tbody>
            @foreach (var user in Model)
            {

                string cls = (user.Status == true) ? "text-navy" : "text-danger";

                <tr id="@user.Id">
                    <td class="client-avatar"><img alt="image" src="~/Images/@user.ImagePath"></td>
                    <td style="cursor:pointer" class="myBox"><a href="/admin/u/user/@user.UserName"></a>@@@user.UserName</td>

                    <td>



                        @foreach (var role in user.Roles.Take(2))
                        {
                            <span>
                                <i class="fa fa-bullseye"></i>   @role
                            </span>

                        }

                    </td>

                    <td>
                        <span class="@cls">@user.Status</span>
                    </td>

                    <td class="btn-group">
                        <a class="btn-white btn btn-xs" href="/admin/u/user/@user.UserName">View</a>


                        <a class="btn-danger btn btn-xs" onclick="remove('@user.Id','@ViewData["RoleName"]')" style="color:white" id="btn_delete" value="@user.Id"><i class="fa fa-trash"></i></a>


                    </td>


                </tr>
            }




        </tbody>

    </table>
</div>
<div style="margin-top:30px;" class="col-lg-12">


    <div class="panel panel-info">
        <div class="panel-heading">
            <i class="fa fa-info-circle"></i> Info About Role @ViewData["RoleName"]
        </div>
        <div class="panel-body">
            <p>@ViewData["RoleDesc"]</p>
            @if (id_table?.ToString() != "Admin")
            {
                <div>
                    <a href="#" class="text-navy" onclick="getPermissions('@ViewData["RoleId"]')" data-toggle="modal" data-target="#permissions"><i class="fa fa-id-card-o" style="margin-right:3px;"></i> Manage Permissions</a>

                    </div>
            }

            <div style="margin-top:5px;">
                <a href="#" class="text-success" data-toggle="modal" onclick="getUsers(' @ViewData["RoleId"]')" data-target="#newUser"><i class="fa fa-user-plus" style="margin-right:3px;"></i> Add a new user</a>

            </div>


            @if (id_table?.ToString() != "Admin")
                {
                    <div style="margin-top:5px;">
                        <a href="#" class="text-danger" onclick="deleteRole('@ViewData["RoleId"]')"> <i class="fa fa-trash" style="margin-right:3px;"></i> Delete Role </a>

                    </div>
                }
                     
               

                       

                    </div>

                </div>
            </div>

