@model IPagedList<ContactListViewModel>
@{
    ViewData["Title"] = "GetTrash";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}






<link href="~/inspinia-gh-pages/css/plugins/iCheck/custom.css" rel="stylesheet">
<link href="~/css/jquery.toast.min.css" rel="stylesheet" />



<div class="row">


    @await Component.InvokeAsync("ContactFolders")

    <div class="col-lg-9 animated fadeInRight">
        <div class="mail-box-header">

            <form method="get" action="index.html" class="float-right mail-search">

               
                <input type="hidden" id="contactStatus" value="@ContactStatus.Trash" />
                <input type="hidden" id="getAll" value="false" />




                <div class="input-group">
                    <input type="text" id="searchbar" class="form-control form-control-sm" name="search" placeholder="Search email">
                    <div class="input-group-btn">
                        <button type="button" onclick="search();" class="btn btn-sm btn-primary">
                            Search
                        </button>
                    </div>
                </div>
            </form>
            <h2>
                <i style="margin-right:6px;" class="fa fa-trash-o"></i> Trash(@ViewData["Count"])
            </h2>
            <div class="mail-tools tooltip-demo m-t-md">

                <button onclick="refresh('@ContactStatus.Trash');" class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="left" title="Refresh inbox"><i class="fa fa-refresh"></i> Refresh </button>
                <button onclick="Delete();" class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="Move to trash"><i class="fa fa-trash-o"></i> </button>

            </div>
        </div>
        <div class="mail-box">

            <table class="table table-hover table-mail">
                <tbody id="mails">

                    @foreach (var contact in Model)
                    {
                        string mailAddress = contact.ContactStatus switch
                        {

                            ContactStatus.Received => contact.From,
                            _ => contact.To

                        };


                        <tr id="@contact.Id" class="read click" data-href="/mail/detail/@contact.Id" style="cursor:pointer">

                            <td class="check-mail">
                                <input type="checkbox" class="i-checks" value="@contact.Id">
                            </td>
                            <td class="mail-ontact">@mailAddress</td>
                            <td class="mail-subject">@contact.Subject</td>

                            <td class=""></td>

                            <td class="text-right mail-date">@GetDate.GetCreateDate(contact.Created)</td>
                        </tr>

                    }



                </tbody>

            </table>

        </div>

        @Html.PagedListPager((IPagedList)Model,pageNumber=>Url.Action("Drafts",new { pageNumber}))

    </div>
</div>


@section Script{



    <script src="~/js/contact.js"></script>
    <script src="~/inspinia-gh-pages/js/plugins/iCheck/icheck.min.js"></script>
    <script src="~/lib/jquery.toast.min.js"></script>




                            }