@model IPagedList<ContactInboxViewModel>

@{
    ViewData["Title"] = "List";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<link href="~/inspinia-gh-pages/css/plugins/iCheck/custom.css" rel="stylesheet">
<link href="~/css/jquery.toast.min.css" rel="stylesheet" />



<div class="row">
    @await Html.PartialAsync("Categories")
    <div class="col-lg-9 animated fadeInRight">
        <div class="mail-box-header">

            <form method="get" action="index.html" class="float-right mail-search">
                <div class="input-group">
                    <input type="text" class="form-control form-control-sm" name="search" placeholder="Search email">
                    <div class="input-group-btn">
                        <button type="submit" class="btn btn-sm btn-primary">
                            Search
                        </button>
                    </div>
                </div>
            </form>
            <h2>
               Inbox(@ViewData["Count"])
            </h2>
            <div class="mail-tools tooltip-demo m-t-md">
        
                <button onclick="Refresh();" class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="left" title="Refresh inbox"><i class="fa fa-refresh"></i> Refresh </button>
                <button onclick="markAsRead();" class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="Mark as read"><i class="fa fa-eye"></i> </button>
                <button onclick="Delete();" class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="Move to trash"><i class="fa fa-trash-o"></i> </button>

            </div>
        </div>
        <div class="mail-box">

            <table class="table table-hover table-mail">
                <tbody id="mails">

                    @foreach (var contact in Model)
                    {
                        string isSeen = contact.IsSeen == true ? "read" : "unread";
                         
                        <tr id="@contact.Id" class="@isSeen click" data-href="/Admin/Contact/GetDetails/@contact.Id" style="cursor:pointer">
                           
                            <td class="check-mail">
                                <input type="checkbox" class="i-checks" value="@contact.Id">
                            </td>
                            <td class="mail-ontact"><a href="">@contact.NameSurname</a></td>
                            <td class="mail-subject"><a href="mail_detail.html">@contact.Subject - @contact.Content.Substring(0,30)...</a></td>

                            @if (contact.IsSeen)
                            {
                                <td class=""></td>
                            }
                            else
                            {

                                <td class=""><i class="fa fa-eye @contact.Id"></i></td>
                            }

                            <td class="text-right mail-date">@GetDate.GetCreateDate(contact.Created)</td>
                        </tr>

                    }



                </tbody>

            </table>

        </div>

        @Html.PagedListPager((IPagedList)Model,pageNumber=>Url.Action("Inbox",new { pageNumber}))

    </div>
</div>


@section Script{

    <script src="~/js/contact.js"></script>
    <script src="~/inspinia-gh-pages/js/plugins/iCheck/icheck.min.js"></script>
    <script src="~/lib/jquery.toast.min.js"></script>
                            }