@model List<Notification>

<li class="dropdown">
    <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
        <i class="fa fa-bell"></i>  <span class="label label-primary">@ViewBag.Count</span>
    </a>
    <ul style="width:350px;" class="dropdown-menu dropdown-alerts">
        @foreach(var notify in Model){
        <li>
                <a href="/Admin/Notification/GetDetails/@notify.Id" class="dropdown-item">
                <div>
                        @if (notify.Title.Length >= 20)
                        {
                            <i class="@notify.Symbol"></i> <span style="margin-left:25px; font-weight:600">@notify.Title.Substring(0,notify.Title.Substring(0,20).LastIndexOf(" "))...</span>

                        }
                        else
                        {
                            <i class="@notify.Symbol"></i> <span style="margin-left:25px; font-weight:600">@notify.Title</span>
                        }
                    <span class="float-right text-muted small">@GetDate.GetCreateDate(notify.Created)</span>
                </div>
            </a>
        </li>
        <li class="dropdown-divider"></li>
        }
        <li>
            <div class="text-center link-block">
                <a href="notifications.html" class="dropdown-item">
                    <strong>See Other @ViewBag.Rest Notifications</strong>
                    <i class="fa fa-angle-right"></i>
                </a>
            </div>
        </li>
    </ul>
</li>