@model List<NotificationListViewModel>

<li class="dropdown">
    <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">


        <i class="fa fa-bell"></i>
        @if ((int?)@ViewData["Count"] != 0)
        {
            <span style="border-radius:50px;" class="label label-primary notify">@ViewData["Count"]</span>

        }

    </a>
    <ul id="notifyBar" style="width:350px;" class="dropdown-menu dropdown-alerts">
        @foreach (var notify in Model)
        {

            string title = "";

            if (notify.Title.Length >= 15)
                title = @notify.Title.Substring(0,15) + "...";
            else
                title = @notify.Title;

               

            string url = notify.Type switch
            {

                "Category" => "/categories/details",
                "Article" => "/articles/details",
                "Comment" => "/comments/list",
                "Contact" => "/mail/inbox",
                "Subscription" => "/subscriptions/list",
                _ => "/notifications/all"
            };





            <li onclick="markAsSeen('@notify.Id')" title="See notification">
                @if (notify.Type == "Subscription")
                {
                    <a href="@url" class="dropdown-item">
                        <div>


                            <i class="@notify.Symbol"></i> <span style="margin-left:25px; font-weight:600">@title</span>


                            <span class="float-right text-muted small">

                                @if (!notify.IsSeen)
                                {

                                    <i class="fa fa-bell notify" aria-hidden="true" style="color: #1ab394;margin-right:3px;"></i>
                                }

                                @notify.Created
                            </span>
                        </div>
                    </a>
                }
                else
                {
                    <a href="@url/@notify.Value" class="dropdown-item">
                        <div>


                            <i class="@notify.Symbol"></i> <span style="margin-left:25px; font-weight:600">@title</span>


                            <span class="float-right text-muted small">

                                @if (!notify.IsSeen)
                                {

                                    <i class="fa fa-bell" aria-hidden="true" style="color: #1ab394;margin-right:3px;"></i>
                                }

                                @GetDate.GetCreateDate(@notify.Created)
                            </span>
                        </div>
                    </a>
                }
         
            </li>
            <li class="dropdown-divider"></li>
        }
        <li>
            <div class="text-center link-block">
                <a href="/notifications/all" class="dropdown-item">
                    <strong>See All Notifications</strong>
                    <i class="fa fa-angle-right"></i>
                </a>
            </div>
        </li>
    </ul>
</li>