@model List<CategoryListViewModel>

@{
    ViewData["Title"] = "List";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<link href="~/css/jquery.toast.min.css" rel="stylesheet" />

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<div style="margin-top:20px;" class="row">
    <div class="col-lg-12">
        <div class="ibox ">
            <h2><i class="fa fa-th-list"></i> Categories </h2>
            
            <div class="ibox-content">

                <div class="table-responsive">
                    <table id="dataTable" class="table table-striped">

                        <thead>
                            <tr>

                                <th>Name</th>
                                <th>Status</th>
                                <th>Articles</th>
                                <th>Action</th>
                            </tr>
                        </thead>

                        <tbody>

                            @foreach (var category in Model)
                            {
                                string label = (category.Status == true) ? "label label-primary" : "label label-danger";
                                string text = (category.Status == true) ? "Enabled" : "Disabled";
                                <tr>
                                    <td style="cursor:pointer" class="myBox">
                                        <a href="/categories/details/@category.CategoryID"></a>
                                        # @category.Name
                                    </td>
                                    <td><span class="@label">@text</span></td>
                                    <td>@category.ArticleCount</td>

                                    @if (category.Status == true)
                                    {
                                        <td class="btn-group">
                                            <a class="btn-white btn btn-xs" href="/categories/details/@category.CategoryID">View</a>
                                            <a class="btn-white btn btn-xs" href="/categories/edit/@category.CategoryID">Edit</a>
                                            <a class="btn-danger btn btn-xs" onclick="firedisable('@category.CategoryID','disable it.')" id="btn_delete" value="@category.CategoryID"><i class="fa fa-trash"></i></a>
                                        </td>
                                    }
                                    else
                                    {
                                        <td class="btn-group">
                                            <a class="btn-white btn btn-xs" href="/categories/details/@category.CategoryID">View</a>

                                            @if (User.HasClaim("Permission", "Category.Update"))
                                            {
                                                <a class="btn-white btn btn-xs" href="/categories/edit/@category.CategoryID">Edit</a>
                                            }
                                            @if (User.HasClaim("Permission", "Category.Delete"))
                                            {
                                                <a class="btn-danger btn btn-xs" onclick="firedelete('@category.CategoryID','delete it.')" id="btn_delete"><i class="fa fa-trash"></i></a>
                                            }
                                        </td>

                                    }

                                </tr>

                            }
                        </tbody>

                    </table>
                </div>

            </div>

        </div>
        <div style="margin-right:15px;margin-left:auto">
            @if (User.HasClaim("Permission", "Category.Create"))
            {
                <a href="/categories/add" class="btn btn-primary"><i class="fa fa-plus"></i> Add</a>

            }
        </div>
    </div>



</div>

@section Script{

    <script src="~/js/category.js"></script>

    <script src="~/lib/jquery.toast.min.js"></script>

    <script type="text/javascript" src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="//cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
    <script src="sweetalert2.all.min.js"></script>

    <script>
        $(document).ready(function () {
            $("#dataTable").dataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.13.7/i18n/en-GB.json"
                },
                "searching": true,
                "ordering": true,
                "paging": true,
                "pagingType": "full_numbers",
                "pageLength": 10,
                "responsive": true,
                "columnDefs": [{
                    "targets": 3,
                    "orderable": false
                }]
            });
        });
    </script>


    <script src="~/inspinia-gh-pages/js/plugins/sweetalert/sweetalert.min.js"></script>
}

