@model List<Note>

<div id="tab-3" class="tab-pane">

    <div class="sidebar-title">
        <h3>Notes</h3>
        <p style="font-weight:600">You have @ViewBag.Count notes, <a href="/Admin/Note/Notes">see all</a>.</p>
    </div>
    <div>
        @foreach (var note in Model)
        {
            <div class="sidebar-message">
                <a href="/Admin/Note/GetDetails/@note.Id">
                    <div class="float-left text-center">
                        <i class="fa fa-sticky-note fa-lg"></i>
                    </div>
                    <div class="media-body">
                        <h4>@note.Title</h4>
                        @if (note.Content.Length >= 100)
                        {
                           <p> @note.Content.Substring(0,note.Content.Substring(0,100).LastIndexOf(" "))...</p>
                        }
                        else
                        {
                            @note.Content
                        }
                        <br>
                        <small class="text-muted">@GetDate.GetCreateDate(note.Created)</small>
                    </div>
                </a>
            </div>
        }
    </div>
</div>
