@model IPagedList<AdminListViewModel>
@{
    ViewData["Title"] = "GetUsers";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<link href="~/css/jquery.toast.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>



<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" />
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/fixedheader/3.1.6/css/fixedHeader.bootstrap4.min.css" />



<div class="tabs-container">
    <ul class="nav nav-tabs" role="tablist">
        <li><a class="nav-link active" data-toggle="tab" href="#users">Users</a></li>
        <li><a class="nav-link " data-toggle="tab" href="#search"><i class="fa fa-search"></i></a></li>
        @if (User.HasClaim("Permission", "User.Create"))
        {
            <li><a class="nav-link " onclick="clearInput();" data-toggle="modal" data-target="#add"><i class="fa fa-plus"></i></a></li>
        }


    </ul>
    <div class="tab-content">
        <div role="tabpanel" id="users" class="tab-pane active">
            <div class="panel-body">
                <div class="ibox-content">
                    <div class="row">
                        @foreach (var user in Model)
                        {

                            string color = (user.Status == true) ? "btn-warning" : "btn-primary";
                            string text = (user.Status == true) ? "Disable" : "Enable";


                            <div class="col-sm-3">
                                <div class="contact-box center-version">

                                    <a href="/admin/u/user/@user.UserName">

                                        <img alt="image" class="rounded-circle" src="~/Images/@user.ImagePath">


                                        <h3 class="m-b-xs"><strong>@user.Name @user.Surname</strong></h3>

                                        <div class="font-bold">@@@user.UserName</div>

                                        <address class="m-t-md">

                                         @*    <strong>@user.Email</strong><br> *@

                                            Last login : @GetDate.GetCreateDate(user.LastLogin) <br>


                                        </address>




                                    </a>
                                    <div class="contact-box-footer">
                                        <div class="m-t-xs btn-group">

                                            <a href="/admin/u/user/@user.UserName" class="btn btn-xs btn-success"><i class="fa fa-eyes"></i>See</a>

                                            @if (User.HasClaim("Permission", "User.Update"))
                                            {

                                                <a href="#" onclick="enableOrDisable('@user.Id','@text')" class="btn btn-xs @color"> @text</a>
                                            }

                                            @if (User.HasClaim("Permission", "User.Delete"))
                                            {
                                                <a href="#" onclick="enableOrDisable('@user.Id','Delete')" class="btn btn-xs btn-danger"><i class="fa fa-trash"></i></a>
                                            }


                                        </div>
                                    </div>

                                </div>
                            </div>

                        }
                    </div>

                    @Html.PagedListPager((IPagedList)Model, pageNumber => Url.Action("GetUsers", new { pageNumber }))

                </div>


            </div>
        </div>

        <div role="tabpanel" id="search" class="tab-pane ">


            @await Component.InvokeAsync("GetAdminsAll")


        </div>



    </div>
</div>

<div class="modal inmodal fade" id="add" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title"><i class="fa fa-user-plus" style="margin-right:3px;"></i> Add a new user</h4>
            </div>
            <div class="modal-body">
                <div class="ibox-content">

                    <div class="row">
                        <div class="col-lg">


                            <div class="form-group">

                                <label class="col-form-label">Name</label>

                                <div><input tabindex="1" id="name" type="text" name="Name" class="form-control"></div>
                            </div>

                            <div class="form-group">
                                <label class="col-form-label">Username</label>

                                <div><input tabindex="3" id="username" type="text" name="Username" class="form-control"></div>

                            </div>

                            <div class="form-group">
                                <label class="col-form-label">Age</label>

                                <div><input tabindex="5" id="age" type="number" name="Age" class="form-control"></div>

                            </div>








                        </div>


                        <div class="col-lg">


                            <div class="form-group">
                                <label class="col-form-label">Surname</label>

                                <div><input tabindex="2" id="surname" type="text" name="Surname" class="form-control"></div>

                            </div>

                            <div class="form-group">
                                <label class="col-form-label">Email</label>

                                <div><input tabindex="4" id="email" type="text" name="Email" class="form-control"></div>

                            </div>


                            <div class="form-group">
                                <label class="col-form-label">PhoneNumber</label>

                                <div><input tabindex="6" id="phoneNumber" type="tel" name="PhoneNumber" class="form-control"></div>

                            </div>




                        </div>
                    </div>

                    <div style="margin-top:30px;" class="row">
                        <div class="col-lg-12">
                            <div class="panel panel-info">
                                <div class="panel-heading">
                                    <i class="fa fa-info-circle"></i> Be aware of
                                </div>
                                <div class="panel-body">

                                    <ul>
                                        <li>After registration, a link redirects user to a page where a password can be set will be sent via mail.</li>
                                        <li>User will be granted with role named  <span class="text-navy">Admin</span> after he is registered.</li>

                                    </ul>



                                </div>

                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <ul id="validation">
                        </ul>

                    </div>

                </div>

                <div class="modal-footer">
                    <button type="button" id="btnAdd" onclick="register();" class="btn btn-primary"> Add </button>
                </div>
            </div>
        </div>
    </div>
</div>

@section Script {

    <script src="~/js/admin.js"></script>




    <script type="text/javascript" src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="//cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>


    <script src="~/lib/jquery.toast.min.js"></script>


    <script>
        $(document).ready(function () {
            $("#dataTable").dataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.13.7/i18n/en-GB.json"
                },
                "searching": true,
                "ordering": true,
                "paging": true,
                "pagingType": "full_numbers",
                "pageLength": 10,
                "responsive": true,
                "columnDefs": [{
                    "targets": 3,
                    "orderable": false
                }]
            });
        });
    </script>




}