@using EntityLayer
@using X.PagedList
@using X.PagedList.Mvc.Core
@model IPagedList<Article>
@{
    ViewData["Title"] = "GetDrafts";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<link href="~/inspinia-gh-pages/css/plugins/footable/footable.core.css" rel="stylesheet">
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>

<div style="margin-top:20px;" class="row">
    <div class="col-lg-12">
        <div class="ibox ">
            <div class="ibox-title">
                <h2><i class="fa fa-pencil "></i> Drafts</h2>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                   <div class="row">
                            

                   
                        <div style="margin-left:auto;margin-right:0;" class="col-sm-3">
                   
                    
                          <form asp-action="GetDrafts">
                                <div class="input-group">
                                    <input placeholder="Search" id="searchbar" type="text" name="search" class="form-control form-control-sm"> <span class="input-group-append">
                                    <button id="btn_search" type="submit" class="btn btn-sm btn-primary">
                                            Search
                                        </button>
                                    </span>
                                </div>
                        </form>
                        


                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-striped">
                         
                            <thead>
                                <tr>

                                    <th>Title</th>
                                    <th>Category</th>
                                    <th>Created</th>
                                    <th>Saved by</th>
                                    <th>Action</th>
                                </tr>
                            </thead>

                        <tbody id="TestDiv">
                                           @if (Model.Count > 0)
                            {
                                @foreach (var draft in Model)
                                {
                                    <tr style="cursor:pointer" class="myBox">
                                        <td ><a href="/Admin/Article/GetDetails/@draft.ArticleID"></a># @draft.Title</td>
                                        <td><span style="cursor:pointer" class="label label-primary myBox"><a href="#categorypage"></a>@draft.Category.Name</span></td>
                                        <td>@draft.Created.ToString("dd-MMM-yyyy")</td>
                                        <td>@@@draft.AppUser.UserName</td>
                                        <td class="btn-group">
                                            <a class="btn-white btn btn-xs" href="/Admin/Article/GetDetails/@draft.ArticleID">View</a>
                                            <a class="btn-danger btn btn-xs" href="/Admin/Article/DeleteArticle/@draft.ArticleID"><i class="fa fa-trash"></i></a>
                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                            <tr>
                              
                                <td> There is no draft found.</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                               
                            </tr>
                            }
                        </tbody>
                           
                    </table>
                        @Html.PagedListPager((IPagedList)Model,pageNumber=>Url.Action("GetDrafts",new {pageNumber}))
                    </div>
                    @TempData["Search"] 
                </div>
        </div>
       
    </div>
                            
    

</div>

@section Script{
    <script>

        $(".myBox").click(function () {
            window.location = $(this).find("a").attr("href");
            return false;
        });

    </script>

}