@model List<Comment>

<div class="col-lg-6">
    <div class="ibox ">
        <div class="ibox-title">
            <span class="label label-success float-right">@ViewBag.Count New Comments</span>
            <h5><a href="/comments/list" style="color:inherit">Recent Comments</a></h5>
            <div class="ibox-tools">
                <a class="collapse-link">
                    <i class="fa fa-chevron-up"></i>
                </a>
                <a class="close-link">
                    <i class="fa fa-times"></i>
                </a>
            </div>
        </div>
        <div class="ibox-content">
            <div class="feed-activity-list">
                @foreach (var comment in Model)
                {
                   @*  string color;

                    if (comment.IsApproved == true)
                    {
                        color = "#006400";
                    }
                    else
                    {
                        color = "#800000";
                    } *@

                    <div style="cursor:pointer" class="feed-element myBox">
                       
                            <div>
                                <small class="float-right text-navy">@GetDate.GetCreateDate(comment.Created)</small>
                                <i style="margin-right:10px;margin-left:2px;" class="fa fa-comment"></i>  <strong>@comment.NameSurname</strong> - <small>@comment.Progress</small>
                                @if (comment.Content.Length >= 50)
                                {
                                    <div>
                                        @comment.Content.Substring(0,comment.Content.Substring(0,50).LastIndexOf(" "))...

                                    </div>
                                }
                                else
                                {
                                    <div>@comment.Content</div>

                                }
                                <small class="text-muted"></small>
                            </div>
                        <a style="text-decoration-color:#525761" href="/Admin/Contact/GetDetails/@comment.Id"></a>

                    </div>
                }

            </div>
        </div>
    </div>
</div>
<script>
    $(".myBox").click(function () {
        window.location = $(this).find("a").attr("href");
        return false;
    });
</script>


