@model List<SubTaskViewModel>


<table class="table table-striped">
    <thead>
        <tr>
            <th>Progress</th>
            <th>Description</th>
            <th></th>
        </tr>
    </thead>
    <tbody>


        @foreach (var subtask in Model)
        {
            string id = subtask.Id.ToString();

            string Trid = "tr" + id;

            <tr id="@Trid">

                
                    <td>
                    <select id="@id" onchange="TaskonChange('@id','@ViewData["AssignmentId"]')" class="btn btn-primary btn-xs">
                            <option selected disabled hidden>@subtask.Progress</option>
                            <option value="Pending" class="btn btn-primary btn-sm">Pending</option>
                            <option value="InProgress" class="btn btn-primary btn-sm">InProgress</option>
                            <option value="Done" class="btn btn-primary btn-sm">Done</option>
                        </select>

                    </td>
              
              

                <td>
                    <p>
                        @subtask.Description
                    </p>
                </td>

                <td>

                    <a class="btn-danger btn btn-xs" onclick="deleteSubtask('@id','@ViewData["AssignmentId"]')" href="#"><i class="fa fa-trash"></i></a>
                    
                </td>
            </tr>
        }
    </tbody>
</table>

<a class="btn btn-primary btn-xs" href="#" data-toggle="modal" data-target="#addSubtask"><i class="fa fa-plus"></i> Add</a>



<div class="modal inmodal" id="addSubtask" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated fadeIn">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <i style="margin-left:25px;" class="fa fa-pencil-square-o fa-4x "></i>
                <h4 class="modal-title"> Add a subtask</h4>
                <small>Add a new subtask for this task.</small>
            </div>

            <div class="modal-body">
                <label for="description">Description</label>

                <textarea id="description" maxlength="150" class="form-control" style="height:120px;" required></textarea>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-white" data-dismiss="modal">Close</button>
                <a href="#" onclick="addSubtask('@ViewData["AssignmentId"]')" class="btn btn-primary"><i class="fa fa-plus"></i> Add</a>
            </div>
        </div>
    </div>
</div>




