@model List<Contact>

<div class="col-lg-4">
    <div class="ibox ">
        <div class="ibox-title">
            <h5>Contacts</h5>
            <div class="ibox-tools">
                <a class="collapse-link">
                    <i class="fa fa-chevron-up"></i>
                </a>
                <a class="close-link">
                    <i class="fa fa-times"></i>
                </a>
            </div>
        </div>
        @foreach (var contact in Model)
        {
            <div class="ibox-content ibox-heading">
                <a style="text-decoration-color:inherit" href="/Admin/Contact/GetDetails/@contact.ID">
                <h3><i style="margin-right:10px;" class="fa fa-envelope-o"></i>@contact.NameSurname - @contact.EmailAddress</h3>
                @if (contact.Content.Length>=10)
                {
                    <small>
                        <i class="fa fa-tim"></i> @contact.Content.Substring(0,contact.Content.Substring(0,10).LastIndexOf(" ")).
                        ..
                    </small>
                }
                <small>@contact.Content</small>
            </a>
            </div>
        }
        @*      <div class="ibox-content">
        <div class="feed-activity-list">
        @foreach (var contact in Model)
        {
        <div class="feed-element">
        <a style="text-decoration-color:inherit" href="/Admin/Contact/GetDetails/@contact.ID">
        <div>
        <small class="float-right text-navy">@GetDate.GetCreateDate(contact.Created)</small>
        <strong>@contact.NameSurname</strong>
        @if (contact.Content.Length >= 40)
        {
        <div>
        @contact.Content.Substring(0,contact.Content.Substring(0,35).LastIndexOf(" ")).
        ..
        </div>
        }
        <div>@contact.Content</div>
        <small class="text-muted"></small>
        </div>
        </a>

        </div>
        }

        </div>
        </div> *@
    </div>
</div>
