@model List<Contact>

<div class="col-lg-4">
    <div class="ibox ">
        <div class="ibox-title">
            <span class="label label-success float-right">@ViewBag.Count New Contacts</span>
            <h5><a href="/Admin/Contact/List" style="color:inherit">Contacts</a></h5>
            <div class="ibox-tools">
                <a class="collapse-link">
                    <i class="fa fa-chevron-up"></i>
                </a>
                <a class="close-link">
                    <i class="fa fa-times"></i>
                </a>
            </div>
        </div>
        <div class="ibox-content">
            <div class="feed-activity-list">
                @foreach (var contact in Model)
                {
                    <div style="cursor: pointer" class="feed-element myBox">
                            <div>
                                <small class="float-right text-navy">@GetDate.GetCreateDate(contact.Created)</small>
                                <i style="margin-right:10px;margin-left:2px;" class="fa fa-envelope-o"></i>  <strong>@contact.NameSurname</strong> - @contact.EmailAddress
                                @if (contact.Content.Length >= 70)
                                {
                                    <div>
                                        @contact.Content.Substring(0,contact.Content.Substring(0,70).LastIndexOf(" "))...

                                    </div>
                                }
                                else
                                {
                                    <div>@contact.Content</div>

                                }
                                <small class="text-muted"></small>
                            </div>
                        <a @* style="text-decoration-color:#525761" *@href="/Admin/Contact/GetDetails/@contact.ID"></a>
                      

                    </div>
                }

            </div>
        </div>
    </div>
</div>
<script>
    $(".myBox").click(function () {
        window.location = $(this).find("a").attr("href");
        return false;
    });
</script>