@model List<Contact>

<div class="col-lg-4 d-print-none">
    <div class="ibox ">
        <div class="ibox-title">
            @if ((int?)@ViewData["Count"] > 0)
            {
                <span  class="text text-navy float-right"> @ViewData["Count"] New Contacts</span>
            }


            <h5><a href="/mail/inbox" style="color:inherit">Contacts</a></h5>
            <div class="ibox-tools">
                <a class="collapse-link">
                    <i class="fa fa-chevron-up"></i>
                </a>
                <a class="close-link">
                    <i class="fa fa-times"></i>
                </a>
            </div>
        </div>
        <div class="ibox-content">
            <div class="feed-activity-list">
                @foreach (var contact in Model)
                {



                    <div style="cursor: pointer" class="feed-element myBox">
                        <div>
                            <small class="float-right text-navy">@GetDate.GetCreateDate(contact.Created)</small>



                            @if (!contact.IsSeen)
                            {
                                <i style="margin-right:10px;margin-left:2px;color: #1ab394;" class="fa fa-envelope"></i>
                            }
                            else
                            {

                                <i style="margin-right:10px;margin-left:2px;" class="fa fa-envelope"></i>

                            }
                            <strong>@contact.NameSurname</strong> - @contact.From


                            @if (contact.Content.Length >= 70)
                            {
                                <div>
                                    @contact.Content.Substring(0,contact.Content.Substring(0,70).LastIndexOf(" "))...


                                </div>
                            }
                            else
                            {
                                <div>@contact.Content</div>

                            }
                            <small class="text-muted"></small>
                        </div>
                        <a href="/mail/detail/@contact.Id"></a>


                    </div>
                }

            </div>
        </div>
    </div>
</div>
<script>
    $(".myBox").click(function () {
        window.location = $(this).find("a").attr("href");
        return false;
    });
</script>