


@model List<ArticleBannerViewModel>

<div class="banner-swipe mb-60">

    <div class="container-xl">

        <div class="row gy-4 g-4">

            <div class="col-lg-12 pt-40">

                <div class="swiper banner-slider3">

                    <div class="swiper-wrapper">

                        @foreach (ArticleBannerViewModel article in Model)
                        {
                            string description = @GetString.GetRawString(article.Description);

                            <div class="swiper-slide">

                                <div class="row gy-4">
                                    <div class="col-lg-6 col-md-6 d-flex align-items-center">
                                        <div class="banner-content">

                                            <ul class="btn-area">

                                                <li class="basic-btn"><a href="/category/@GetString.GetSlugUrl(@article.CategoryName)/@article.CategoryId"> @article.CategoryName </a></li>



                                            </ul>

                                            <h1><a href="/article/@GetString.GetSlugUrl(article.Title)/@article.Id"> @article.Title </a></h1>
                                            <p> @description.Substring(0,description.IndexOf(".")).</p>

                                            <div class="author-area">
                                                <div class="author-img">
                                                    <a href="#"><img src="../assets/image/ai-technology/Image-46.png" alt=""></a>
                                                </div>
                                                <div class="author-content">
                                                    <div class="author-name">
                                                        <a href=""> example </a>
                                                    </div>
                                                    <div class="publish-date">
                                                        <a href="#"> @article.Created.ToShortDateString() </a>
                                                        <span> @article.SeenCount </span>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                    </div>

                                    <div class="col-lg-6 col-md-6 d-md-flex d-none justify-content-end">

                                        <div style="cursor:pointer;" class="banner-img">
                                            <img src="~/Images/@article.ImagePath" width="536px;" height="423px;" alt="@article.Title">
                                        </div>

                                    </div>

                                </div>

                            </div>
                        }


                    </div>
                </div>

            </div>

        </div>

        <div class="row pt-50">

            <div class="col-lg-12 position-relative">

                <div class="swiper-pagination"></div>

            </div>

        </div>

    </div>

</div>

