@model List<Message>

<li class="dropdown">
    <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
        <i class="fa fa-envelope"></i>  <span class="label label-warning">@ViewBag.Count</span> 
            </a>
    <ul class="dropdown-menu dropdown-messages">
        @foreach (var message in Model)
        {


            <li>

                <div class="dropdown-messages-box">
                    <a class="dropdown-item float-left" href="/Admin/Message/GetDetails/@message.MessageID">
                        <img alt="image" class="rounded-circle" src="~/Images/@message.Sender.ImagePath">
                    </a>
                    <div>
                        <small class="float-right">@GetDate.GetCreateDate(message.Created)</small>
                      
                        <strong>@message.Sender</strong>   <br>
                        @if (@message.Content.Length >= 35)
                        {
                            <h5 style="font-weight:500" >@message.Content.Substring(0,@message.Content.Substring(0,35).LastIndexOf(" "))...</h5>
                        }
                        else
                        {
                            @message.Content
                        }
                        <a class="dropdown-item float-none" href="/Admin/Message/GetDetails/@message.MessageID"> </a>
                    </div>
                </div>
                
            <li class="dropdown-divider"></li>
            </li>
            

           











           @*  <li>
                <div  class="dropdown-messages-box">
                    <a style="padding-left:0;"  class="dropdown-item float-left" href="#">
                        <img alt="image" class="rounded-circle" src="~/Images/@message.Sender.ImagePath">
                        <div class="media-body">
                            <small class="float-right ">@GetDate.GetCreateDate(message.Created)</small>

                            <a href="/Admin/Message/GetDetails/@message.MessageID" style="padding-left:0;" class="dropdown-item float-left">
                                <h5>@@@message.Sender</h5>
                                @if (@message.Content.Length >= 35)
                                {
                                    <h5>@message.Content.Substring(0,@message.Content.Substring(0,35).LastIndexOf(" "))...</h5>

                                }
                                else
                                {
                                    <h5>@message.Content</h5>


                                }


                            </a>
                        </div>

                    </a>
               
                </div>
            </li>
            <li class="dropdown-divider"></li> *@
        }
        <li>
            <div class="text-center link-block">
                <a href="mailbox.html" class="dropdown-item">
                    <i class="fa fa-envelope"></i> <strong>Read Other @ViewBag.Rest Messages</strong>
                </a>
            </div>
        </li>
    </ul>
</li>