@model List<Message>

<li class="dropdown">
    <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
        <i class="fa fa-envelope"></i>  <span class="label label-warning">@ViewBag.Count</span> 
            </a>
    <ul class="dropdown-menu dropdown-messages">
        @foreach (var message in Model)
        {
            <li>
                <div  class="dropdown-messages-box">
                    <a style="padding-left:0;"  class="dropdown-item float-left" href="#">
                        <img alt="image" class="rounded-circle" src="~/Images/@message.Sender.ImagePath">
                    </a>
                    <div class="media-body">
                        <small class="float-right">@GetDate.GetCreateDate(message.Created)</small>
                        <a href="/Admin/Message/GetDetails/@message.MessageID" style="padding-left:0;" class="dropdown-item float-left">
                        <strong style="font-weight:500">@message.Sender.UserName</strong><br>
                            @if(@message.Content.Length >= 40)
                            {
                                <small style="font-weight:400">@message.Content.Substring(0,@message.Content.Substring(0,40).LastIndexOf(" "))...</small>

                            }
                            else
                            {
                                <small style="font-weight:400">@message.Content</small>

                            }

                              
                   </a>
                    </div>
                </div>
            </li>
            <li class="dropdown-divider"></li>
        }
        <li>
            <div class="text-center link-block">
                <a href="mailbox.html" class="dropdown-item">
                    <i class="fa fa-envelope"></i> <strong>Read Other @ViewBag.Rest Messages</strong>
                </a>
            </div>
        </li>
    </ul>
</li>