@model IPagedList<CommentListViewModel>

@{
    ViewData["Title"] = "Approved";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<link href="~/css/jquery.toast.min.css" rel="stylesheet" />

<h2 style="margin-bottom:30px;"><i class="fa fa-comments"></i> Comments</h2>


<div class="tabs-container">
    <ul class="nav nav-tabs" role="tablist">
        <li><a class="nav-link" href="/comments/list">Pending</a></li>
        <li><a class="nav-link active" data-toggle="tab" href="/comments/list/approved">Approved</a></li>
        <li><a class="nav-link" href="/comments/list/rejected">Rejected</a></li>
        <li><a class="nav-link" href="/comments/list/disabled">Disabled</a></li>
        <li><a class="nav-link" data-toggle="tab" href="#tabs-2"><i class="fa fa-search"></i> By Article</a></li>

    </ul>
    <div class="tab-content">

        <div role="tabpanel" id="tabs-1" class="tab-pane active">

            <div class="panel-body">
                <div class="input-group" style="margin-bottom:15px;">
                    <input id="progress" value="Approved" hidden />

                    <input type="text" id="searchbar" class="form-control form-control-sm" name="search" placeholder="Search comment...">
                    <div style="margin-left:5px;" class="input-group-btn">
                        <button type="button" onclick="SearchComments();" class="btn btn-sm btn-primary">
                            Search
                        </button>
                    </div>
                </div>


                <div id="panel" class="col-lg-12">
                    @foreach (var comment in Model)
                    {
                        string labelStatus = (comment.Status == true) ? "text-navy" : "text-danger";



                        <div id="@comment.Id" class="social-feed-box">

                            <div class="float-right social-action dropdown">
                                <ul>
                                    <li style="list-style:none">Status:<span class="@labelStatus">@comment.Status</span></li>
                                </ul>
                            </div>

                            <div class="social-avatar">
                                <a href="#" class="float-left">
                                    <img alt="image" src="~/Images/profile.jpg">
                                </a>
                                <div class="media-body">

                                    <a><strong> @comment.NameSurname</strong></a>

                                    <small class="text-muted">@comment.Created</small>
                                </div>
                            </div>
                            <div class="social-body">
                                <p>
                                    @comment.Content
                                </p>

                                <div class="btn-group">
                                    <a href="/articles/details/@comment.ArticleID"  class="btn btn-warning btn-xs"><i class="fa fa-file"></i> Go to Article</a>
                                    <button onclick="approveOrReject('@comment.Id',this.value)" value="reject" class="btn btn-danger btn-xs"><i class="fa fa-thumbs-down"></i> Reject </button>

                                </div>
                            </div>

                        </div>

                    }
                    @Html.PagedListPager((IPagedList)Model,pageNumber=>Url.Action("Approved","Comment",new { pageNumber}))

                </div>



            </div>
        </div>
        <div role="tabpanel" id="tabs-2" class="tab-pane">
            <div class="panel-body">

                @await Component.InvokeAsync("GetCommentsByArticleComment")


            </div>
        </div>

    </div>
</div>




@section Script{

    <script src="~/js/comment.js"></script>
    <script src="~/lib/jquery.toast.min.js"></script>


    <script type="text/javascript" src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="//cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>

         }
