<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Gonul Insanlari | Admin Panel</title>
    <link href="~/css/jquery.toast.min.css" rel="stylesheet" />

    <link href="~/inspinia-gh-pages/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/inspinia-gh-pages/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="~/inspinia-gh-pages/css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="~/inspinia-gh-pages/css/plugins/steps/jquery.steps.css" rel="stylesheet">
    <link href="~/inspinia-gh-pages/css/animate.css" rel="stylesheet">
    <link href="~/inspinia-gh-pages/css/style.css" rel="stylesheet">
    <link href="~/css/side.css" rel="stylesheet" />
    <link href="~/css/sideanimate.css" rel="stylesheet" />
</head>

<body class="">

    <div id="wrapper">

        @await Component.InvokeAsync("AdminSideBar")

        <div id="page-wrapper" class="gray-bg">

            @await Component.InvokeAsync("AdminTopNavBar")

            <div class="wrapper wrapper-content">
                @RenderBody()
                <div id="ss_menu">

                    @{
                        string artIcon = "fa fa-lock";
                        string artLink = "#";

                        string taskIcon = "fa fa-lock";
                        string taskLink = "#";

                        string anIcon = "fa fa-lock";
                        string anLink = "#";
                    }


                    @if (User.HasClaim("Permission", "Article.Create"))
                    {
                        artIcon = "fa fa-plus";
                        artLink = "/articles/add";

                    }

                    <div class="myBox">
                        <i class="@artIcon"></i>
                        <a href=@artLink></a>
                    </div>

                    @if (User.HasClaim("Permission", "Assignment.Create"))
                    {
                        taskIcon = "fa fa-tasks";
                        taskLink = "/assignments/add";

                    }

                    <div class="myBox">
                        <i class="@taskIcon"></i>
                        <a href=@taskLink></a>
                    </div>

                    <div class="myBox">
                        <i class="fa fa-commenting"></i>
                        <a href="/Admin/Message/GetList"></a>
                    </div>



                    @if (User.HasClaim("Permission", "Announcement.Create"))
                    {
                        anIcon = "fa fa-bullhorn";
                        anLink = "/announcements/add";
                    }

                    <div class="myBox">
                        <i class="@anIcon"></i>
                        <a href=@anLink></a>
                    </div>


                    <div class="menu">
                        <div class="share" id="ss_toggle" data-rot="180">

                            <div class="circle"></div>
                            <div class="bar"></div>
                        </div>
                    </div>

                </div>
            </div>
          


            @await Component.InvokeAsync("AnnounceBar")


        </div>
    </div>


    <script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>

    <script src="~/js/notification.js"></script>

    <!-- Mainly scripts -->
    <script src="~/inspinia-gh-pages/js/jquery-3.1.1.min.js"></script>
    <script src="~/inspinia-gh-pages/js/popper.min.js"></script>
    <script src="~/inspinia-gh-pages/js/bootstrap.js"></script>
    <script src="~/inspinia-gh-pages/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="~/inspinia-gh-pages/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="~/inspinia-gh-pages/js/plugins/sparkline/jquery.sparkline.min.js"></script>
    @*   <script src="//code.jquery.com/jquery-2.1.4.min.js"></script> *@
    <!-- Peity -->
    <script src="~/inspinia-gh-pages/js/plugins/peity/jquery.peity.min.js"></script>
    <script src="~/inspinia-gh-pages/js/demo/peity-demo.js"></script>

    <!-- Custom and plugin javascript -->
    <script src="~/inspinia-gh-pages/js/inspinia.js"></script>
    <script src="~/inspinia-gh-pages/js/plugins/steps/jquery.steps.min.js"></script>
    <script src="~/lib/jquery.toast.min.js"></script>
    <script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>

    @RenderSection("Script",required:false)
</body>

</html>
<script>
    $(document).ready(function (ev) {
        var toggle = $('#ss_toggle');
        var menu = $('#ss_menu');
        var rot;

        $('#ss_toggle').on('click', function (ev) {
            rot = parseInt($(this).data('rot')) - 180;
            menu.css('transform', 'rotate(' + rot + 'deg)');
            menu.css('webkitTransform', 'rotate(' + rot + 'deg)');
            if ((rot / 180) % 2 == 0) {
                //Moving in
                toggle.parent().addClass('ss_active');
                toggle.addClass('close');
            } else {
                //Moving Out
                toggle.parent().removeClass('ss_active');
                toggle.removeClass('close');
            }
            $(this).data('rot', rot);
        });

        menu.on('transitionend webkitTransitionEnd oTransitionEnd', function () {
            if ((rot / 180) % 2 == 0) {
                $('#ss_menu div i').addClass('ss_animate');
            } else {
                $('#ss_menu div i').removeClass('ss_animate');
            }
        });

    });

    $(".myBox").click(function () {
        window.location = $(this).find("a").attr("href");
        return false;
    });
</script>
