@model AppUser

<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <img alt="image" style="width:64px;height:64px;" class="rounded-circle" src="~/Images/@Model.ImagePath" />
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="block m-t-xs font-bold">@Model.Name @Model.Surname</span>
                        <span class="text-muted text-xs block">@Model.Email<b class="caret"></b></span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li><a class="dropdown-item" href="/admin/u/profile">Profile</a></li>
                    </ul>
                </div>
                <div style="cursor:pointer" title="See profile" class="logo-element myBox">
                    <a href="/admin/u/profile"></a>
                    <img alt="image" style="width:48px;height:48px;" class="rounded-circle" src="~/Images/@Model.ImagePath" />
                </div>
            </li>
            <li >
                <a href="/home/dashboard"><i class="fa fa-home"></i><span class="nav-label">Home</span></a>

            </li>
            @if (User.HasClaim("Permission", "Contact.Read"))
            {
                <li>
                    <a href="/mail/inbox">
                        <i class="fa fa-inbox"></i> <span class="nav-label">Mailbox</span>  @if ((int?)@ViewData["ContactCount"] > 0)
                        {
                            <span style="border-radius:50%;height:20px;width:20px;" class="label label-primary">@ViewData["ContactCount"]</span>

                        }
                    </a>
                </li>
            }




            @if (User.HasClaim("Permission", "Article.Read") | User.HasClaim("Permission", "Comment.Read"))
            {
                <li>

                    <a href="#">
                        <i class="fa fa-file-text"></i> <span class="nav-label">Contents</span><span class="fa arrow"></span> @if ((int?)@ViewData["CommentCount"] > 0)
                        {
                            <span style="border-radius:50%;height:20px;width:20px;margin-left:5px;" class="label label-warning">@ViewData["CommentCount"]</span>

                        }
                    </a>
                    <ul class="nav nav-second-level collapse">
                        @if (User.HasClaim("Permission", "Article.Read"))
                        {
                            <li> <a href="/articles/list"><i class="fa fa-font" style="margin-right:5px;"></i> Articles</a></li>
                        }
                        @if (User.HasClaim("Permission", "Comment.Read"))
                        {
                            <li>
                                <a href="/comments/list">
                                    <i class="fa fa-comments" style="margin-right:5px;"></i> Comments @if ((int?)@ViewData["CommentCount"] > 0)
                                    {
                                        <span style="border-radius:50%;height:10px;width:10px;margin-left:5px;" class="label label-warning">@ViewData["CommentCount"]</span>

                                    }
                                
                                </a>
                            </li>
                        }

                    </ul>
                </li>
            }



            @if (User.HasClaim(x => x.Value == "Category.Read"))
            {
                <li>
                    <a href="/categories/list"><i class="fa fa-th-large"></i> <span class="nav-label">Categories</span></a>
                </li>
            }

            @if (User.HasClaim(x => x.Value == "Assignment.Read"))
            {
                <li>
                    <a href="/assignments/list"><i class="fa fa-table"></i> <span class="nav-label"> Assignments </span></a>
                </li>
            }
            @if (User.HasClaim(x => x.Value == "Announcement.Read"))
            {
                <li>
                    <a href="/announcements/list"><i class="fa fa-bullhorn"></i> <span class="nav-label">Announcements</span></a>
                </li>
            }
            @if (User.HasClaim(x => x.Value == "User.Read"))
            {
                <li>
                    <a href="/admin/u/users"><i class="fa fa-users"></i> <span class="nav-label">Users</span></a>
                </li>
            }

            @if (User.IsInRole("SuperAdmin"))
            {
                <li>
                    <a href="/admin/roles/list"><i class="fa fa-id-card"></i> <span class="nav-label">Roles/Authorizations</span></a>
                </li>

            }

            @if (User.HasClaim("Permission", "Subscription.Read"))
            {
                <li>
                    <a href="/subscriptions/list"><i class="fa fa-users"></i> <span class="nav-label">Subscriptions</span></a>
                </li>
            }

            @if (User.HasClaim("Permission", "About.Read"))
            {
                <li>
                    <a href="/Admin/Article/GetRandomData"><i class="fa fa-file-text"></i> <span class="nav-label">About Page</span></a>
                </li>
            }

            <li class="landing_link">
                <a target="_blank" href="/Home/Index"><i class="fa fa-arrow-circle-right"></i> <span class="nav-label">Go to Website</span></a>
            </li>

        </ul>

    </div>
</nav>